*{
    padding:0px;
    margin:0px;
}

h2{
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
    padding-top:18px;
    color:rgb(45, 218, 45);
}
b{
    text-transform: uppercase;
}
p{
    padding:15px;
    text-indent: 10px;
}
.code{
    padding:20px;
    margin-left:5%;
    background-color: cadetblue;
    width:80%;
    border-radius:20px;
}
.output{
    padding:20px;
    background-color: wheat;
    width:70%;
    margin-left: 6%;
  border-radius: 19px;
}
.option{
    width:90%;
padding:0.5rem;
}
.previous{
    width:45%;
    float:left;
}
.next{
    width:45%;
    float:right;

}
.next button{
    float: right;
   
}
button{
    font-size: 1rem;
    padding:0.2rem;
    border-radius:5px;
    background-color: lightblue;
}
footer{
    margin-top:1rem;
    width:100%;
    text-align:center;
    padding:10px;
    background-color:red;
    color:white;
    
  }
@media screen and (min-width:1000px) {
    .content{
        margin-left:20%;
    }
    .side_bar{
        height:150vh;
    }
    
}
@media screen and (min-width:1440px) {
    .side_bar{
        height:125vh;
    }
    
}
@media screen and (min-width:2560px) {
    body{
        font-size:20px;
    }
.side_bar{
    height:70vh;
}    
}